<!-- product_confirm_delete.html -->
{% extends 'base.html' %}
{% block title %}
Skystore
{% endblock %}
{% block content %}
{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container">
    <div class="row" style="align-items: center; justify-content: center;">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="container-fluid text-primary">
                        <h2 class="mb-4">{{ product.product }}</h2>
                        <div class="justify-content-center">
                            {% if product.image and product.image.url %}
                            <img src="{{ product.image.url }}" alt="{{ product.product }}" style="max-width: 400px;"/>
                            {% endif %}
                        </div>
                    </div>
                    <p>Описание: {{ product.description }}</p>
                    <p>Цена: {{ product.price }} руб</p>
                    <p>Дата производства: {{ product.created_at|date:'d.m.Y' }}</p>
                    <p>Категория: {{ product.category.name }} - {{ product.category.description }}</p>
                    <br/>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-danger">Удалить карточку товара</button>
                        <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Отменить</a>
                    </div>
                    <br/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
